
.signUp {
    color: black;
    font-weight: 700;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.subscribe {
    margin-left: 70px;
}

.socialDiv {
    margin-right: 150px;
    
}

.btn-group-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
}


